body {
  margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #764b;
    height: 200vh;
}

h1 {
    color: #333;
}

.hero {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.btn:hover {
    background: #222;
    color: white;
    transition: 0.3s;
    font-family: Times New Roman;
}

section {
    padding: 50px 20px;
}

.about {
    background-color: white;
}

.skills {
    background-color: #eaeaea;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 10px 0;
    font-weight: bold;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.skills li {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .skills li {
    width: 90%;
  }
  
}



